In [25]:
import pandas as pd

In [26]:
test = pd.read_csv("CD_dat_raw.csv")

df = test[test["progress"] == "100"]

In [27]:
df[["duration", "progress"]] = df[["duration", "progress"]].apply(pd.to_numeric)

C:\Users\user\AppData\Local\Temp/ipykernel_15752/3515230605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[["duration"]] = df[["duration"]].apply(pd.to_numeric)

In [29]:
df[df["progress"] == "100"].sort_values(by=['duration'], ascending=True)

,startDate,endDate,status,ipAddress,progress,duration,finished,recordedDate,_recordId,recipientLastName,...,QID183_DO_12,QID183_DO_13,QID183_DO_14,QID183_DO_15,QID183_DO_16,QID150_1,FL_62_DO_control_high,FL_62_DO_control_low,FL_60_DO_SDO7,FL_60_DO_EDO
618,01.05.23 08:41,01.05.23 08:41,0,178.197.193.195,100,7,1,01.05.23 08:41,R_3QMEHZTIZwelPKG,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,15.04.23 11:49,15.04.23 11:49,0,185.25.195.154,100,11,1,15.04.23 11:49,R_2dshYNcGkGYDHHA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06.04.23 06:32,06.04.23 06:32,0,128.179.144.223,100,14,1,06.04.23 06:32,R_2Ec9WyCI2rhamDO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,18.04.23 13:20,18.04.23 13:21,0,176.166.212.148,100,14,1,18.04.23 13:21,R_1ihxCfc1ffYSyUP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05.04.23 12:30,05.04.23 12:30,0,62.202.188.144,100,16,1,05.04.23 12:30,R_2WIop5zH8vlvJVF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,11.04.23 09:41,11.04.23 11:58,0,80.200.208.148,100,8193,1,11.04.23 11:58,R_3mZXmWyGN71p8vD,NaN,...,6,10,12,3,8,2,NaN,1,1,2
542,26.04.23 09:58,26.04.23 12:18,0,188.4.86.61,100,8405,1,26.04.23 12:18,R_RKsi6U1BbNAS47f,NaN,...,14,11,5,6,3,3,NaN,1,1,2
222,18.04.23 06:17,18.04.23 10:25,0,92.159.188.119,100,14851,1,18.04.23 10:25,R_2Ck3frOYVMznXB0,NaN,...,13,8,1,10,16,6,1,NaN,1,2
122,16.04.23 03:10,16.04.23 14:56,0,93.30.81.178,100,42346,1,16.04.23 14:56,R_3HCz5TdHoAkd38W,NaN,...,13,7,11,15,14,3,1,NaN,2,1
91,13.04.23 07:56,14.04.23 01:51,0,178.195.154.104,100,64500,1,14.04.23 01:51,R_32Y1d9Yp0KzQE9p,NaN,...,12,2,1,10,6,7,1,NaN,2,1